# Set

A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements. Sets are mutable which means we can modify it after its creation.

# Creating a set

## Example 1: Using curly braces

In [15]:
Date={"mon","tus","thi"}
print(type(Date))
print(Date)
for i in Date:
    print(i+"\n")

<class 'set'>
{'thi', 'tus', 'mon'}
thi

tus

mon

## Example 2: Using set() method

In [16]:
date2=set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
print(date2," ")
print(type(date2))

{'Saturday', 'Tuesday', 'Thursday', 'Monday', 'Wednesday', 'Friday', 'Sunday'}
<class 'set'>

In [10]:
for i in date2:
    print(i," ")

Saturday
Tuesday
Thursday
Monday
Wednesday
Friday
Sunday

In [12]:
# Creating a set which have immutable elements  
set1 = {1,2,3, "JavaTpoint", 20.5, 14}  
print(type(set1))  
#Creating a set which have mutable element  
set2 = {1,2,3,["Javatpoint",4]}  
print(type(set2))

<class 'set'>

TypeError: unhashable type: 'list'

In [13]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

# Adding items to the set
## Example: 1 - Using add() method

In [18]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nAdding other months to the set...");    
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Adding other months to the set...

Printing the modified set...
{'April', 'July', 'June', 'May', 'January', 'February', 'March', 'August'}

looping through the set elements ...
April
July
June
May
January
February
March
August

# Example - 2 Using update() function

In [19]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

updating the original set ...

printing the modified set ...
{'April', 'July', 'September', 'June', 'May', 'January', 'February', 'October', 'March', 'August'}

# Removing items from the set
## Example-1 Using discard() method

In [20]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing some months from the set...

Printing the modified set...
{'April', 'June', 'February', 'March'}

looping through the set elements ...
April
June
February
March

# Example-2 Using remove() function

In [21]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing some months from the set...

Printing the modified set...
{'April', 'June', 'February', 'March'}

In [22]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing some months from the set...

Printing the modified set...
{'May', 'January', 'February', 'March'}

In [23]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving all the items from the set...");    
Months.clear()    
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing all the items from the set...

Printing the modified set...
set()

# Difference between discard() and remove()

In [24]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving items through discard() method...");    
Months.discard("Feb"); #will not give an error although the key feb is not available in the set    
print("\nprinting the modified set...")    
print(Months)    
print("\nRemoving items through remove() method...");    
Months.remove("Jan") #will give an error as the key jan is not available in the set.     
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing items through discard() method...

printing the modified set...
{'April', 'June', 'May', 'January', 'February', 'March'}

Removing items through remove() method...

KeyError: 'Jan'

# Python Set Operations

# Union of two Sets

In [25]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

{'Saturday', 'Sunday', 'Monday', 'Wednesday', 'Tuesday', 'Friday', 'Thursday'}

In [26]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

{'Saturday', 'Sunday', 'Monday', 'Wednesday', 'Tuesday', 'Friday', 'Thursday'}

# Intersection of two sets

In [27]:
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

{'Monday', 'Tuesday'}

In [28]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

{'Martin', 'David'}

# The intersection_update() method

The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).

In [29]:
a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
    
a.intersection_update(b, c)    
    
print(a)

{'castle'}

# Difference between the two sets
## Example 1 : Using subtraction ( - ) operator

In [30]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

{'Wednesday', 'Thursday'}

# Example 2 : Using difference() method

In [31]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1.difference(Days2)) # prints the difference of the two sets Days1 and Days2

{'Wednesday', 'Thursday'}

# Symmetric Difference of two sets
### Example - 1: Using ^ operator

In [32]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

### Example - 2: Using symmetric_difference() method

In [33]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

# Set comparisons

In [36]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

# FrozenSets

In [37]:
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))    
print("\nprinting the content of frozen set...")    
for i in Frozenset:    
    print(i);    
Frozenset.add(6) #gives an error since we cannot change the content of Frozenset after creation

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'

# Example - 1: Write a program to remove the given number from the set.

In [38]:
my_set = {1,2,3,4,5,6,12,24}  
n = int(input("Enter the number you want to remove"))  
my_set.discard(n)  
print("After Removing:",my_set)

Enter the number you want to remove24
After Removing: {1, 2, 3, 4, 5, 6, 12}

# Example - 2: Write a program to add multiple elements to the set.

In [39]:
set1 = set([1,2,4,"John","CS"])  
set1.update(["Apple","Mango","Grapes"])  
print(set1)

{1, 2, 4, 'Mango', 'John', 'Grapes', 'CS', 'Apple'}

# Example - 3: Write a program to find the union between two set.

In [40]:
set1 = set(["Peter","Joseph", 65,59,96])  
set2  = set(["Peter",1,2,"Joseph"])  
set3 = set1.union(set2)  
print(set3)

{96, 65, 1, 2, 'Joseph', 59, 'Peter'}

# Example- 4: Write a program to find the intersection between two sets.

In [41]:
set1 = {23,44,56,67,90,45,"Javatpoint"}  
set2 = {13,23,56,76,"Sachin"}  
set3 = set1.intersection(set2)  
print(set3)

{56, 23}

# Example - 5: Write the program to add element to the frozenset.

In [42]:
set1 = {23,44,56,67,90,45,"Javatpoint"}  
set2 = {13,23,56,76,"Sachin"}  
set3 = set1.intersection(set2)  
print(set3)

{56, 23}

# Example - 6: Write the program to find the issuperset, issubset and superset.

In [44]:
set1 = set(["Peter","James","Camroon","Ricky","Donald"])  
set2 = set(["Camroon","Washington","Peter"])  
set3 = set(["Peter"])  
  
issubset = set1 >= set2  
print(issubset)  
issuperset = set1 <= set2  
print(issuperset)  
issubset = set3 <= set2  
print(issubset)  
issuperset = set2 >= set3  
print(issuperset)

False
False
True
True

In [45]:
set(input().split())

1 2 3 4 5 6

{'1', '2', '3', '4', '5', '6'}

In [46]:
set(input().split(" "))

1 2 3,3

{'1', '2', '3,3'}

In [48]:
set(map(int,input().split()))

1 2 3 4

{1, 2, 3, 4}